<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List all Plants</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">List of Plants</div>
        <div class="panel-body">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-row" th:each="p : ${purchaseOrders}">
                    <td th:text="${p.plant.name}"></td>
                    <td th:text="${p.email}"></td>
                    <td th:text="${p.total}"></td>
                     <td th:with="id = ${p._id}">
                        <form style ='float:left; padding:5px; height:0px' th:object="${InvoiceEmailDTO}" th:method="post" th:action="@{'/invoice/sendInvoice'}">
                            <input type="hidden" name="poId"  th:value="${id}"></input>
                            <input type="hidden" name="email" th:value="${p.email}"></input>
                            <input type="hidden" name="total" th:value="${p.total}"></input>

                            <button class="btn btn-default btn-xs" type="submit">Send Invoice </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>